.sign {
  padding: 20px;
  background-color: $light;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 119px);

  &__container {
    width: 100%;
    max-width: 400px;
  }

  h3 {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 0 20px;
  }

  button {
    width: 100%;
    background-color: $main;
    color: $white;
    border: 2px solid $main;
    position: relative;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    letter-spacing: .48px;
    line-height: 28px;
    font-weight: 800;
    align-items: center;
    transition: box-shadow .15s ease-in-out;
    margin: 20px 0;
    outline: none;
    cursor: pointer;

    &:hover {
      box-shadow: 0 12px 30px rgba(68,68,68,.16);
    }
  }

  &__info {
    text-align: center;
    margin: 0;
    color: $dark;

    a {
      margin-left: 5px;
      color: $main;
      text-decoration: none;
    }
  }
}